@model IEnumerable<ClientManager.Models.picture>

@{ 
    ClientManager.Models.ClientsEntities db = new ClientManager.Models.ClientsEntities();
    int userId = int.Parse(Session["user_id"].ToString());
    int personId = (int) db.users.SingleOrDefault(p => p.user_id == userId).person_id;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relative_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    bool checkLike = db.likes.SingleOrDefault(p => p.person_id == personId && p.picture_id == item.picture_id) != null ? true : false;

    ClientManager.Models.picture checkProfile = db.pictures.SingleOrDefault(p => p.person_id == personId
        && p.picture_id == item.picture_id);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caption)
        </td>
        <td>
            <img src="/Images/@Html.DisplayFor(modelItem => item.relative_path)" style="max-height:100px; max-width:100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @if (checkLike)
            {
                @Html.ActionLink("UnLike", "UnLike", new { id = item.picture_id })
            }
            else
            {
                @Html.ActionLink("Like", "like", new { id = item.picture_id })
            }
        </td>
        <td>
            @Html.ActionLink("View Comments", "Index", "Comment", new { id = item.picture_id }, null)

            @if (checkProfile != null &&
                (checkProfile.person_id == item.person_id && checkProfile.picture_id == item.picture_id))
            {
                @Html.ActionLink("| Select as Profile Picture", "ChooseProfilePic", new { picture_id = item.picture_id, person_id = item.person_id }, null) 
                @Html.ActionLink(" | Edit", "Edit", new { id = item.picture_id }) 
                @Html.ActionLink(" | Details", "Details", new { id = item.picture_id }) 
                @Html.ActionLink(" | Delete", "Delete", new { id = item.picture_id })
            }
        </td>
    </tr>
}

</table>
