@model IEnumerable<ClientManager.Models.comment>

@{ 
    ClientManager.Models.ClientsEntities db = new ClientManager.Models.ClientsEntities();
    int userId = int.Parse(Session["user_id"].ToString());
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.read)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    bool isTheUser = db.users.SingleOrDefault(u => u.person_id == item.person_id) != null ? true : false;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.read)
        </td>
        <td>
            @if (isTheUser)
            {
                @Html.ActionLink("Edit ", "Edit", new { id = item.comment_id }) 
                @Html.ActionLink("| Delete", "Delete", new { id = item.comment_id})
            }

        </td>
    </tr>
}
</table>
