@model IEnumerable<ClientManager.Models.person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="/Home/Search">
    <label>Search</label>
    <input type="text" name="name" />
    <input type="submit" name="search" value="search" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.profile_pic)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privacy_setting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/Images/@Html.DisplayFor(modelItem => item.picture.relative_path)" style="max-height:100px; max-width:100px"
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.privacy_setting)
        </td>
        <td>
            @Html.ActionLink("Pictures", "Index", "Picture", new { id = item.person_id }, null) |
            @Html.ActionLink("Addresses", "Index", "Address", new { id = item.person_id }, null) |
            @Html.ActionLink("Contact Information", "Index", "Contact", new { id = item.person_id }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.person_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.person_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.person_id })
        </td>
    </tr>
}

</table>
