@model ClientManager.Models.person

@{
    ViewBag.Title = "Index";
    ClientManager.Models.user aUser= ViewBag.username;
}

    <h2>
        @Html.DisplayFor(model => aUser.username)
    </h2>

    <form method="get" action="Profile/Search">
        <label>Search</label>
        <input type="text" name="name"/>
        <input type="submit" name="search" value="search" />
    </form>

<div>
    @Html.ActionLink("View Pictures", "Index", "Picture", new { id = Model.person_id }, null) |
    @Html.ActionLink("View Contacts", "Index", "Contact", new { id = Model.person_id}, null) |
    @Html.ActionLink("View Addresses", "Index", "Address", new { id = Model.person_id }, null) |
    @Html.ActionLink("View Messages", "ListMessages", new { id = Model.person_id }, null) |
    @Html.ActionLink("View Friend Requests", "FriendRequests", new { id = Model.person_id}, null)
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile_pic)
        </dt>
        <dd>
            <img src="/Images/@Html.DisplayFor(modelItem => modelItem.picture.relative_path)" style="max-height:100px; max-width:100px" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privacy_setting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privacy_setting)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.person_id }) | 
    @Html.ActionLink("Change Password", "ModifyPassword")
</p>
